AcceptEnv LC_*,LANG,TERM
AllowUsers {{ admin_user }}
AuthenticationMethods publickey
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com
DisableForwarding yes
HostKey /etc/ssh/ssh_host_ed25519_key
KexAlgorithms sntrup4591761x25519-sha512@tinyssh.org,diffie-hellman-group18-sha512,diffie-hellman-group16-sha512,diffie-hellman-group14-sha256
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com
PermitRootLogin no
Subsystem sftp internal-sftp